<nav class="navbar navbar-expand-lg bg-body-tertiary bg-natural-95 border-bottom py-3">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/images/logo.svg" alt="logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-samll-block" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto py-1 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link px-5 me-3" href="#">服務方案</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-5 me-3" href="#">關於職旅</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-5" href="contact.html">聯絡我們</a>
        </li>
      </ul>
    </div>
    <a href="user.html"
      ><img
        src="/assets/images/avatar.png"
        alt="user-img"
        class="rounded-circle border me-2 user-img"
      />Mokumaru</a
    >
  </div>
</nav>
