<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <title>聯絡我們</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main class="bg-natural-95">
      <div class="container py-7">
        <div class="row justify-content-center">
          <div class="col-10">
            <div class="text-center mb-6">
              <h1 class="fs-2 mb-5">聯絡我們</h1>
              <p class="text-natural-50">
                每一封郵件，我們都會親自回覆。每一通電話，都是新可能的開始。
              </p>
            </div>
            <form class="tab-content p-6 shadow rounded-3 bg-white">
              <!-- 基本資料 -->
              <div class="d-flex gap-4 border-bottom pb-6 mb-6">
                <!-- 左側類別名稱 -->
                <div class="flex-shrink-0 side-width">
                  <h2 class="fs-4 mb-3">基本資料</h2>
                  <p class="text-natural-50">
                    欄位皆為<span class="badge rounded-pill text-bg-danger ms-1"
                      >必填</span
                    >
                  </p>
                </div>
                <!-- 右側表單 -->
                <div class="w-100">
                  <!-- 姓名 -->
                  <div class="mb-5">
                    <div class="form-floating">
                      <input
                        type="text"
                        class="form-control"
                        id="name"
                        placeholder="姓名"
                      />
                      <label for="name">姓名</label>
                    </div>
                  </div>
                  <!-- 信箱 -->
                  <div class="mb-5">
                    <div class="form-floating">
                      <input
                        type="email"
                        class="form-control"
                        id="e-mail"
                        placeholder="信箱"
                      />
                      <label for="e-mail">信箱</label>
                    </div>
                    <div class="form-text px-1 text-natural-50">
                      盡量勿使用Yahoo或Hotmail郵件信箱，以免因擋信、漏信
                    </div>
                  </div>
                  <!-- 電話 -->
                  <div class="mb-5">
                    <div class="form-floating">
                      <input
                        type="tel"
                        class="form-control"
                        id="phone"
                        placeholder="電話"
                      />
                      <label for="phone">電話</label>
                    </div>
                    <div class="form-text px-1 text-natural-50">
                      我們不會以電話主動聯繫您，告知您要至ATM操作轉帳
                    </div>
                  </div>
                  <!-- 目前職業/工作身分 -->
                  <div class="mb-5">
                    <div class="dropdown">
                      <button
                        class="form-select text-start py-3"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        目前職業/工作身分
                      </button>
                      <ul class="dropdown-menu w-100 mt-2">
                        <li>
                          <a class="dropdown-item" href="#">1</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">2</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 諮詢需求 -->
              <div class="d-flex gap-4 border-bottom pb-6 mb-6">
                <!-- 左側類別名稱 -->
                <div class="flex-shrink-0 side-width">
                  <h2 class="fs-4 mb-3">諮詢需求</h2>
                  <p class="text-natural-50">
                    欄位皆為<span class="badge rounded-pill text-bg-danger ms-1"
                      >必填</span
                    >
                  </p>
                </div>
                <!-- 右側表單 -->
                <div class="w-100">
                  <!-- 諮詢主題 -->
                  <div class="mb-5">
                    <p class="mb-2">諮詢主題</p>
                    <div class="px-2 d-flex flex-wrap">
                      <div class="form-check form-check-inline me-5 mb-2">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="topic-1"
                          value="topic-1"
                        />
                        <label class="form-check-label" for="topic-1"
                          >職涯探索與方向</label
                        >
                      </div>
                      <div class="form-check form-check-inline me-5 mb-1">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="topic-2"
                          value="topic-2"
                        />
                        <label class="form-check-label" for="topic-2"
                          >接案與技能變現</label
                        >
                      </div>
                      <div class="form-check form-check-inline me-5">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="topic-3"
                          value="topic-3"
                        />
                        <label class="form-check-label" for="topic-3"
                          >品牌與內容經營</label
                        >
                      </div>
                      <div class="form-check form-check-inline me-5">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="topic-4"
                          value="topic-4"
                        />
                        <label class="form-check-label" for="topic-4"
                          >遠端工作與數位游牧</label
                        >
                      </div>
                      <div class="form-check form-check-inline me-5">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="topic-5"
                          value="topic-5"
                        />
                        <label class="form-check-label" for="topic-5"
                          >收入與時間管理</label
                        >
                      </div>
                      <div class="form-check form-check-inline me-5">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="topic-6"
                          value="topic-6"
                        />
                        <label class="form-check-label" for="topic-6"
                          >其他（請填寫下題）</label
                        >
                      </div>
                    </div>
                    <div class="form-text px-1 text-natural-50">
                      可複選，讓我們更了解你的狀況，安排最適合的顧問與建議。
                    </div>
                  </div>
                  <!-- 期望諮詢的專家 -->
                  <div class="mb-5">
                    <div class="dropdown">
                      <button
                        class="form-select text-start py-3"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        期望諮詢的專家
                      </button>
                      <ul class="dropdown-menu w-100 mt-2">
                        <li>
                          <a class="dropdown-item" href="#">1</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">2</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- 您目前面臨的主要挑戰 -->
                  <div class="mb-5">
                    <div class="form-floating">
                      <textarea
                        class="form-control"
                        placeholder="您目前面臨的主要挑戰"
                        id="current-challenges"
                        style="height: 160px"
                      ></textarea>
                      <label for="current-challenges"
                        >您目前面臨的主要挑戰</label
                      >
                    </div>
                  </div>
                  <!-- 期望達成的目標 -->
                  <div class="mb-5">
                    <div class="form-floating">
                      <textarea
                        class="form-control"
                        placeholder="期望達成的目標"
                        id="expected-goals"
                        style="height: 160px"
                      ></textarea>
                      <label for="expected-goals">期望達成的目標</label>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 聯絡偏好 -->
              <div class="d-flex gap-4 pb-6">
                <!-- 左側類別名稱 -->
                <div class="flex-shrink-0 side-width">
                  <h2 class="fs-4 mb-3">聯絡偏好</h2>
                  <p class="text-natural-50">欄位皆為選填</p>
                </div>
                <!-- 右側表單 -->
                <div class="w-100">
                  <!-- 偏好聯絡方式 -->
                  <div class="mb-5">
                    <p class="mb-2">偏好聯絡方式</p>
                    <div class="px-2 d-flex flex-wrap">
                      <div class="form-check form-check-inline me-5 mb-2">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="preferred-contact-method"
                          id="preferred-contact-method-1"
                          value="preferred-contact-method-1"
                          checked
                        />
                        <label
                          class="form-check-label"
                          for="preferred-contact-method-1"
                          >信箱</label
                        >
                      </div>
                      <div class="form-check form-check-inline me-5">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="preferred-contact-method"
                          id="preferred-contact-method-2"
                          value="preferred-contact-method-2"
                        />
                        <label
                          class="form-check-label"
                          for="preferred-contact-method-2"
                          >電話</label
                        >
                      </div>
                      <div class="form-check form-check-inline me-5">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="preferred-contact-method"
                          id="preferred-contact-method-3"
                          value="preferred-contact-method-3"
                        />
                        <label
                          class="form-check-label"
                          for="preferred-contact-method-3"
                          >LINE</label
                        >
                      </div>
                      <div class="form-check form-check-inline me-5">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="preferred-contact-method"
                          id="preferred-contact-method-4"
                          value="preferred-contact-method-4"
                        />
                        <label
                          class="form-check-label"
                          for="preferred-contact-method-4"
                          >Discord</label
                        >
                      </div>
                    </div>
                  </div>
                  <!-- 偏好聯絡時段 -->
                  <div class="mb-5">
                    <p class="mb-2">偏好聯絡時段</p>
                    <div class="px-2 d-flex flex-wrap">
                      <div class="form-check form-check-inline me-5 mb-2">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="preferred-contact-time-1"
                          value="preferred-contact-time-1"
                        />
                        <label
                          class="form-check-label"
                          for="preferred-contact-time-1"
                          >平日上午(9:00-12:00)</label
                        >
                      </div>
                      <div class="form-check form-check-inline me-5 mb-1">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="preferred-contact-time-2"
                          value="preferred-contact-time-2"
                        />
                        <label
                          class="form-check-label"
                          for="preferred-contact-time-2"
                          >平日下午(13:00-17:00)</label
                        >
                      </div>
                      <div class="form-check form-check-inline me-5">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="preferred-contact-time-3"
                          value="preferred-contact-time-3"
                        />
                        <label
                          class="form-check-label"
                          for="preferred-contact-time-3"
                          >平日晚上(18:00-21:00)</label
                        >
                      </div>
                      <div class="form-check form-check-inline me-5">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="preferred-contact-time-5"
                          value="preferred-contact-time-5"
                        />
                        <label
                          class="form-check-label"
                          for="preferred-contact-time-5"
                          >週末上午(9:00-12:00)</label
                        >
                      </div>
                      <div class="form-check form-check-inline me-5">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="preferred-contact-time-5"
                          value="preferred-contact-time-5"
                        />
                        <label
                          class="form-check-label"
                          for="preferred-contact-time-5"
                          >週末下午(13:00-17:00)</label
                        >
                      </div>
                      <div class="form-check form-check-inline me-5">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="preferred-contact-time-6"
                          value="preferred-contact-time-6"
                        />
                        <label
                          class="form-check-label"
                          for="preferred-contact-time-6"
                          >週末晚上(18:00-21:00)</label
                        >
                      </div>
                    </div>
                    <div class="form-text px-1 text-natural-50">
                      可複選，讓我們更了解你的狀況，安排最適合的顧問與建議。
                    </div>
                  </div>
                  <!-- 預約諮詢時間 -->
                  <div class="mb-5">
                    <div class="form-floating">
                      <input
                        type="date"
                        class="form-control"
                        id="date"
                        placeholder="預約諮詢時間"
                      />
                      <label for="date">預約諮詢時間</label>
                    </div>
                  </div>
                  <!-- 如何得知我們 referral_source-->
                  <div class="mb-5">
                    <p class="mb-2">偏好聯絡時段</p>
                    <div class="px-2 d-flex flex-wrap">
                      <div class="form-check form-check-inline me-5 mb-2">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="referral_source-1"
                          value="referral_source-1"
                        />
                        <label class="form-check-label" for="referral_source-1"
                          >Google 搜尋</label
                        >
                      </div>
                      <div class="form-check form-check-inline me-5 mb-1">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="referral_source-2"
                          value="referral_source-2"
                        />
                        <label class="form-check-label" for="referral_source-2"
                          >Instagram</label
                        >
                      </div>
                      <div class="form-check form-check-inline me-5">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="referral_source-3"
                          value="referral_source-3"
                        />
                        <label class="form-check-label" for="referral_source-3"
                          >Facebook</label
                        >
                      </div>
                      <div class="form-check form-check-inline me-5">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="referral_source-5"
                          value="referral_source-5"
                        />
                        <label class="form-check-label" for="referral_source-5"
                          >Threads</label
                        >
                      </div>
                      <div class="form-check form-check-inline me-5">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="referral_source-5"
                          value="referral_source-5"
                        />
                        <label class="form-check-label" for="referral_source-5"
                          >YouTube</label
                        >
                      </div>
                      <div class="form-check form-check-inline me-5">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="referral_source-6"
                          value="referral_source-6"
                        />
                        <label class="form-check-label" for="referral_source-6"
                          >Podcast / 節目推薦</label
                        >
                      </div>
                      <div class="form-check form-check-inline me-5 mb-2">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="referral_source-7"
                          value="referral_source-7"
                        />
                        <label class="form-check-label" for="referral_source-7"
                          >朋友或同事推薦</label
                        >
                      </div>
                      <div class="form-check form-check-inline me-5">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="referral_source-8"
                          value="referral_source-8"
                        />
                        <label class="form-check-label" for="referral_source-8"
                          >曾參加職旅活動 / 工作坊</label
                        >
                      </div>
                      <div class="form-check form-check-inline me-5">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="referral_source-9"
                          value="referral_source-9"
                        />
                        <label class="form-check-label" for="referral_source-9"
                          >職涯顧問介紹</label
                        >
                      </div>
                      <div class="form-check form-check-inline me-5">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="referral_source-10"
                          value="referral_source-10"
                        />
                        <label class="form-check-label" for="referral_source-10"
                          >其他（請填寫下題）</label
                        >
                      </div>
                    </div>
                    <div class="form-text px-1 text-natural-50">
                      最多勾選 3 個
                    </div>
                  </div>
                  <!-- 有什麼其他想告訴我們的事情嗎？ -->
                  <div class="mb-5">
                    <div class="form-floating">
                      <textarea
                        class="form-control"
                        placeholder="有什麼其他想告訴我們的事情嗎？"
                        id="other-things"
                        style="height: 160px"
                        maxlength="300"
                      ></textarea>
                      <label for="language-skills"
                        >有什麼其他想告訴我們的事情嗎？（最多300字）</label
                      >
                    </div>
                  </div>
                  <!-- 我願意接收職旅最新資訊和專業內容 -->
                  <!-- 我同意服務條款和隱私政策 -->
                  <div>
                    <div class="form-check mb-2">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="agree-1"
                      />
                      <label class="form-check-label" for="agree-1">
                        我願意接收職旅最新資訊和專業內容
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="agree-2"
                      />
                      <label class="form-check-label" for="agree-2">
                        我同意
                        <a
                          href="privacy-policy.html"
                          class="text-primary-60 text-decoration-underline"
                          >服務條款</a
                        >
                        和
                        <a
                          href="terms.html"
                          class="text-primary-60 text-decoration-underline"
                          >隱私政策</a
                        >
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 按鈕 -->
              <div class="d-flex justify-content-center">
                <button
                  type="button"
                  class="btn rounded-4 btn-outline-dark border me-2 py-2 ps-3 pe-2"
                >
                  重新填寫<span
                    class="material-icons-outlined align-bottom ms-1"
                  >
                    chevron_right
                  </span>
                </button>
                <button
                  type="button"
                  class="btn rounded-4 btn-dark me-2 py-2 ps-3 pe-2"
                >
                  確認送出<span
                    class="material-icons-outlined align-bottom ms-1"
                  >
                    chevron_right
                  </span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
